.billing-entity-page {
    .table td {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .billing-entity-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
}
