@import "partials/partials";

.login-wrp{
    background: #26696E url(../../assets/images/bg.png) no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
    overflow-y: clip;
    padding-top: 30px;
        padding-bottom: 30px;
    @media ($sm-1199){
        
   }
   button.eye-icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    background: none;
    border: none
}
    .login-container{
        max-width: 1560px;
        height: inherit;
         @media($sm-1679){
            max-width: 1400px;
         }
         @media($sm-1481){
            max-width: 1200px;
         }
        align-self: stretch;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .branding-wrp{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 50px;

        @media($sm-991){
            padding-bottom: 30px;
        }
        .logo{
            max-width: 165px;
            @media($sm-1679){
                max-width: 150px;
            }
            @media($sm-1481){
                
                max-width: 140px;
            }
            @media($sm-991){
                margin: 0 auto;
                max-width: 140px;
            }
            img{
                max-width: 100%;
            }
        }
        
        @media ($sm-1199){
            text-align: center;
        }
        .txt{
            margin-top: auto;
            padding-top: 20px;
            max-width: 360px;

            @media ($sm-1199){
                max-width:600px;
                margin: auto;
            }

            @media($sm-991){
                padding-top: 30px;
            }
        }
    }
    .signup-wrp{
        padding: 80px 100px; 
        background-color: #ffffff;
        border-radius: 56px;
        max-width: 595px;
        position: relative;
        @media($sm-1679){
            max-width: 520px;
        }
        @media($sm-1481){
            max-width: 480px;
        }
        color: #103134;
        position: relative;
        &.reset-pw{
            min-height: calc(100vh - 240px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .forgotpw{
                font-style: normal;
            }
        }
        @media ($sm-1679){
            padding: 80px 80px;
        }
        @media ($sm-1481){
            padding: 60px 70px;
        }
        @media ($sm-1199){
             margin: auto;
             padding: 30px 30px;
             border-radius: 30px;
        }
        &:after{
            content: '';
            height: 50vh;
            background-color: #ffffff;
            width: 100%;
            position: absolute;
            left: 0;
            top: calc(100% + 20px);
            border-radius: 56px 56px 0 0;
        }
        .logo{
            padding-bottom: 60px;
        
                max-width: 165px;
                @media($sm-1679){
                    max-width: 150px;
                }
                @media($sm-1679){
                    max-width: 140px;
                }
                @media($sm-1281){
                    max-width: 120px;
                    padding-bottom: 20px;
                }
                img{
                    max-width: 100%;
                }
         
        }
        .form-desc{
            margin-bottom: 30px;
            font-size: 13px;
            line-height: 22px;
            color: #103134;

        }
    }

    .loginTitle{
        font-size: 39px;
        font-weight: bold;
        @media($sm-1679){
            font-size: 32px;
        }
        @media($sm-1481){
            font-size: 30px;
        }
        @media($sm-1281){
            font-size: 26px;
        }
        @media($sm-991){
            font-size: 24px;
        }
        span{
            font-weight: 400;
            display: block;
            @media ($sm-1199) {
                display: inline-block;

            }
        }
    }
    .form-title{
        font-size: 28px;
        color: #14454A;
        font-weight: 600;
        @media ($sm-1679){
            font-size: 24px;
        }
        @media ($sm-1481){
            font-size: 22px;
        }
        @media ($sm-1281){
            font-size: 20px;
        }
        @media ($sm-991){
            font-size: 18px;
        }
    }
    .loginDesc{
        font-weight: 300;
    }

    .inp-wrp{
        margin-bottom: 30px;
        position: relative;
        @media ($sm-1679){
            margin-bottom: 20px;
        }
        @media ($sm-1481){
            margin-bottom: 18px;
        }
        @media($sm-991){
            margin-top: 10px !important;
        }
        .eye-ico{
            position: relative;
        }
        .inp_ico{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
             
             
        }
        .form-control{
            padding: 18px 30px;
            padding-left: 60px;
            border: 1px solid #B1D2D5;
            border-radius: 16px;
            
            color: #103134 !important;
            box-shadow: none !important;
            background-position: 20px center !important;
            background-size: 20px;
            @media ($sm-1679){
                padding: 12px 24px;
                padding-left: 50px;
                background-size: 16px !important;
            }
            @media ($sm-1481){
                padding: 10px 24px;
                padding-left: 40px;
                background-size: 13px !important;
            }
            // &.username{
            //     background:  url(../img/icon-mail.svg) no-repeat;
            //     background-color: #FCFEFE;
            // }
            // &.passw{
            //     background:  url(../img/icon-lock.svg) no-repeat;
            //     background-color: #FCFEFE;
            // }
            &::placeholder{
                color: #7AB6BA;
                font-size: 15px;
                @media($sm-1679){
                    font-size: 13px;
                }
            }
        }
        .btn-login{
            width: 100%;
            font-weight: 500;
            padding: 18px;
            border-radius: 16px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media($sm-1679){
                padding: 15px;
                font-size: 13px;
            }
            @media($sm-991){
                padding: 10px;
                border-radius: 10px;
            }
            &.btn-outline{
                border: 1px solid #D3E3F8 !important;
                color: #35475E;
            }
        }
        
    }

    .forgotpw{
        display: block;
        color: #25666C;
        font-style: italic;
        font-size: 14px;
        @media($sm-991){
            margin-bottom: 0px !important;
        }
        &.backto{
            text-decoration: none;
            .txt{
                text-decoration: underline;
            }
        }
    }
    
}

.login-form-error{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 50px;
    @media ($sm-1281){
        bottom: 35px;
    }
    @media ($sm-1199){
        bottom: 16px;
    }
    @media ($sm-991){
        bottom: 20px;
    }
}