.header {
  width: 100%;
  height: 70px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* LEFT SECTION */
.header-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  height: 32px;
  margin-right:180px
}

.nav-links {
  display: flex;
  gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: #6b7280;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #1d4ed8;
}

.nav-links .active {
  color: #1d4ed8;
  font-weight: 600;
}

/* CENTER SECTION */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: #e5e7eb;
  border-radius: 8px;
  padding: 8px 12px;
  width: 400px;
  height: 40px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #111827;
}

.search-box input::placeholder {
  color: black;
  opacity: 1;
}



.search-icon {
  width: 16px;
  height: 16px;
  opacity: 0.6;
}

/* RIGHT SECTION */
.header-right {
  display: flex;
  align-items: center;
  margin-right: -36px;
}

.user-section {
  display: flex;
  align-items: center;
  background: #1d4ed8;
  border-radius: 40px;
  padding: 1px 32px 2px 2px;
  gap: 16px;
}

.user-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  color: #1d4ed8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-icon {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1); /* makes icon white */
  cursor: pointer;
  transition: 0.2s;
}

.header-icon:hover {
  opacity: 0.8;
}
